// size
$sudoku-cell-size: 66px;
$sudoku-annotation-size: ($sudoku-cell-size - 8) / 3;
$sudoku-section-size: $sudoku-cell-size * 3 + 2;
$sudoku-board-size: $sudoku-section-size * 3;

// breakpoint and media query
$breakpoint-mobile: 667px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

// mixins

@mixin smart-font-size() {
  @include max-screen($breakpoint-mobile) {
    font-size: 1.8em;
    h2 {
      font-size: 1.2em;
    }
  }
}

//------- general --------

html,body{margin:0px;padding:0px;}

//------- header ---------

.header {
  background-color: rgba(0, 0, 139, 0.7);
  color: white;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;

  .header-container {
    margin: auto;
    width: $sudoku-board-size;
  }

  #header-title {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  #header-message {
    text-align: left;
    font-size: 1.2em;
  }
}

.content {
  margin: auto;
  padding: 20px;
  width: $sudoku-board-size;
  @include smart-font-size;
}

.to-sudoku {
  margin: auto;
  width: $sudoku-board-size;
  text-align: center;
  margin-top: 50px;
  @include smart-font-size;
}

.menu-container {
  margin: 0;
  margin-top: 50px;
  padding-top: 20px;
  background-color: #EEE;
}

.menu {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: $sudoku-board-size;
  @include smart-font-size;
}

.footer-container {
  margin: 0;
  background-color: #EEE;
}

.footer {
  padding: 10px;
  color: #777;
  text-align: right;
}
