.header {
  width: 600px; }
  .header #header-title {
    color: #666;
    text-align: center; }
  .header #header-message {
    color: #888; }

.sudoku-board {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 600px;
  box-sizing: content-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666; }

.sudoku-header-message {
  width: 600px;
  text-align: right;
  font-size: 15px; }

.sudoku-section {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-left: 2px solid #666;
  border-top: 2px solid #666; }

.sudoku-cell {
  box-sizing: border-box;
  width: 66px;
  height: 66px; }

.sudoku-cell-content {
  border: 4px solid rgba(255, 255, 255, 0);
  width: 66px;
  height: 66px;
  line-height: 58px;
  text-align: center;
  font-size: 46.2px;
  box-sizing: border-box; }

.sudoku-cell-content[data-highlight="true"] {
  border-color: #7070ff; }

.sudoku-cell[data-col-center="true"] {
  border-left: 1px solid #666;
  border-right: 1px solid #666; }

.sudoku-cell[data-row-center="true"] {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666; }

.sudoku-cell[data-fixed="true"] {
  color: #666;
  font-weight: bold; }

.sudoku-cell-annotation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.sudoku-cell-annotation-number {
  color: #666;
  font-size: 18.48px;
  box-sizing: border-box;
  width: 19.33333px;
  height: 19.33333px;
  line-height: 19.33333px; }

.sudoku-footer {
  width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sudoku-footer-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  margin: 4px;
  color: white;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333; }
  @media screen and (max-width: 667px) {
    .sudoku-footer-button {
      width: 110px;
      height: 110px;
      line-height: 110px;
      font-size: 77px; } }
  @media screen and (min-width: 667px) {
    .sudoku-footer-button {
      width: 52px;
      height: 52px;
      line-height: 52px;
      font-size: 36.4px; } }

.sudoku-footer-button[data-color="0 false"] {
  background-color: rgba(0, 0, 140, 0.6); }

.sudoku-footer-button[data-color="0 true"] {
  background-color: #00008c;
  border-right: 2px solid #00008c;
  border-bottom: 2px solid #00008c; }

.sudoku-footer-button[data-color="1 false"] {
  background-color: rgba(0, 100, 0, 0.6); }

.sudoku-footer-button[data-color="1 true"] {
  background-color: darkgreen;
  border-right: 2px solid darkgreen;
  border-bottom: 2px solid darkgreen; }

.select-problem {
  width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px; }

.select-problem #select-problem-title {
  width: 600px;
  text-align: center;
  font-size: 32.34px;
  color: #666; }

.select-problem-button {
  text-align: center;
  height: 66px;
  background-color: #5D5DB6;
  color: white;
  border: 2px solid #222;
  font-size: 46.2px; }
  @media screen and (max-width: 667px) {
    .select-problem-button {
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 480px; } }
  @media screen and (min-width: 667px) {
    .select-problem-button {
      margin-left: 180px;
      margin-right: 180px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 240px; } }
