.sudoku-board {
  cursor: pointer;
  width: 456px;
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
}

.sudoku-section {
  width: 152px;
  height: 152px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
}

.sudoku-cell {
  text-align: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.sudoku-cell[data-col-center="true"] {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

.sudoku-cell[data-row-center="true"] {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.sudoku-footer {
  width: 456px;
  display: flex;
  justify-content: space-between;
}

.sudoku-footer-button {
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 40px;
  margin: 3px;
  font-size: 20px;
  color: white;
  background-color: #666;
  border: 1px solid #444;
}
